{% load static %}
<!-- logo content -->
<div class="head">
    <div class="row">
      <div class="left1 col-2 mx-5">
        <img src="{% static 'images/customerservice.png' %}" alt="" srcset="">
        Call Now
        <div class="number">+91 83088 15048</div>
      </div>
      <div class="cen col-5 text-center" style="color: #1e3799;"><img style="width: 8rem;" class="m-2" src="{% static 'images/images/swapnillogo.png' %}" alt=""> Swapnil Enterprises</div>
      <div class="righthand col-4 m-1">
        <form action="{% url 'search' %}" id="searchform" method="post">
          {% csrf_token %}
          <li class="nav-item search">
            <input type="search"
                   name='search'
                   id="search"
                   placeholder="Search your Product"
                   aria-label="Search" autocomplete="on">
            <i class="fa fa-search" aria-hidden="true"></i>
          </li>
        </form>
      </div>
    </div>
    <!-- logo content -->
  </div>
  <!-- nav content  -->
  <div class="navhead">
    <nav class="navbar navbar-expand-lg">
      <div class="container nav">
        <button class="navbar-toggler m-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation" style="    width: 5rem;
                height: 4rem;
                background-color: #1e3799;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav navlist w-100"
             id="navbarSupportedContent">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
              <img src="{% static 'images/house.png' %}"  alt="" srcset="">
            Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">
              <img src="{% static 'images/man.png' %}"  alt="" srcset="">
            About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              <img src="{% static 'images/contacts.png' %}"  alt="" srcset="">
            Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="product" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{% static 'images/box.png' %}" style="width: 2.5rem;" alt="" srcset="">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href='{% url "category" categ="UPVC" %}'>UPVC PIPE & FITTINGS</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="CPVC" %}'>CPVC PIPE & FITTINGS</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="PVC" %}'>PVC PIPE & FITTINGS</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="pipe" %}'>SWR PIPE & FITTINGS</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="PP" %}'>PP, HDPE PIPE & FITTINGS</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="VALVE" %}'>BRASS,CI,MS BALL VALVES</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="tank" %}'>SINTEX TANKS</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="Clamp" %}'>CLAMPS</a></li>
              <li><a class="dropdown-item" href='{% url "category" categ="Rubber" %}'>RUBBER GASKET</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/product">ALL</a></li>
            </ul>
          </li>
          <li class="nav-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a class="nav-link" >
              <img src="{% static 'images/contacts.png' %}"  alt="" srcset="">
            Admin Panel</a>
          </li>

      </div>
    </div>
  </nav>
  <hr class='one'>
</div>
<!-- nav content  -->