html{
    font-size: 10px;
}
/* accordion */
.accordion{
    width: 60%;
    margin: auto;
}
.accordion button{
    font-size: 60%;
    font-weight: 400;
}
/* accordion */
/* product page  */

.page-link{
    color: #013A6B;
    font-size: 1.2rem;
}
/* product page  */
