/* navbar upper region */
html{
  font-size: 10px;
  overflow-x: hidden;
}

.left1 {
  padding: 2rem;
  font-size: 2rem;
  font-family: math;
}
.left1 img,.nav-item img{
  width: 2.5rem;
}
.cen {
  font-size: 4rem;
  font-family: cursive;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: row-reverse;
}
hr.one {
  border-top: 4px solid #0c35d8;
  margin: 0px;
}
/* navbar upper region */
/* navbar style  */
.navhead {
  background-color: rgb(255, 255, 255,0.8);
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 1;
}
.navlist {
  display: flex;
  justify-content: space-evenly;
}
.navbar-collapse li a {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
.righthand{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search {
  width: 100%;
  height: 5rem;
  background-color: white;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  border: 3px solid black;
}
.search > i {
  font-size: 2rem;
  color: #777;
}
.search > input {
  flex: 1;
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding-left: 1rem;
}
/* navbar style  */
/* slide design  */
.homeslider a{
  text-decoration: none;
}
.homeslider a h5{
  font-size: 1.6rem;
  color: black;
}
.imagehead h2{
  color: #1e3799;
}

.slide img {
  width: 100vh;
  height: 50rem;
}
.speciality {
  height: 60rem;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: 50%;
}
.item,
.item img {
  width: 100%;
  height: 100%;
}
.inneritem2,
.inneritem4,
.inneritem6 {
  padding: 3.5rem;
  background-color: rgb(116, 185, 255, 0.2);
}
.inneritem2 h2,
.inneritem4 h2,
.inneritem6 h2 {
  color: #1e3799;
}
.inneritem2 + .inneritem4 + .inneritem6 p {
  font-size: 4rem;
}
.main-content h1 {
  color: #1e3799;
  font-size: 4rem;
}
.main-content p{
  font-size: 1.8rem;
}
.inner2 {
  height: 100%;
  width: 100%;
}

.slide img{
  width: 10rem;
  height: 10rem;
  margin: auto;
}
.slide{
  text-align: center;
}
/* main slider  */
.mainslide{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
    height: 40rem;
}
.main img{
  width: 30rem;
  height: 30rem;
  margin: auto;
}
.main h2{
  color: white;
  font-size: 3rem;
}
.main p{
  color: white;
  font-size: 2rem;
}
.shop,.get{
  text-decoration: none;
  display: inline;
  color: white;
  border-radius: 4px;
  font-size: larger;
      border-radius: 2.5rem;
      font-weight: 600;
      transition: all 1s;
}
.shop{
  background-color: #1e3799;
}

.get{
  background-color: #ee5253;
}
.shop:hover,.get:hover{
  color: white;
  background-color: #ff9f43;
}
.shop a,.get a{
text-decoration: none;
color: white;
}
/* main slider  */
/* about us  */
.aboutuspara{
  font-size: 2.5rem;
}
.sponser h2{
  color: #1e3799;
  font-size: 4rem;
}
/* about us  */
/* Style all font awesome icons */
.fa {
  padding: 2rem;
  width: 6rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 2rem;
}
.footer a{
  font-size: 2rem;
}
.footer{
   background-color: #dfe6e9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-facebook:hover{
  background:white ;
  color: #3B5998;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-google:hover {
  background: white;
  color: #dd4b39;
}
.fa-instagram{
  background: pink;
  color: white;
}
.fa-instagram:hover{
  background:white ;
  color: pink;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-youtube:hover {
  background:white;
  color:  #bb0000;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-twitter:hover {
  background:white ;
  color: #55ACEE;
}
.whatsapp-float img{
width: 8rem;
height: 8rem;
}
.whatsapp-float{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}
@media (min-width:780px) and (max-width:995px) {
  html{
    font-size: 7px;
  }
}
@media (min-width:460px) and (max-width:780px){
  html{
    font-size: 5px;
  }
}
@media (max-width:460px){
  html{
    font-size: 3px;
  }
}